@import '../../sass/common';

.actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  > * + * {
    margin-left: 16px;
  }
  bui-button {
    width: 120px;
    &.active {
      background-color: #55a646;
      :deep button {
        color: #ffffff;
      }
    }
  }
}

.results {
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.no-result {
  width: 100%;
  text-align: center;
  padding: 120px 40px;
  color: #55595c;
  font-weight: 500;
}
