@import '../../sass/common';

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px;
  a {
    cursor: pointer;
    text-decoration: none;
    color: #55595c;
    font-size: 18px;
    font-weight: 700;
  }
}
