* {
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

:host {
  width: 100%;
}

.button {
  display: block;
  appearance: none;
  border-radius: 3px;
  border: 1px solid #55595c;
  box-shadow: none;
  width: 100%;
  padding: 16px 12px;
  outline: none;
  font-weight: 700;
  font-size: 14px;
  color: #55595c;
  background-color: #ebebeb;
  cursor: pointer;
}
.button.active {
  color: #ffffff;
  background-color: #55a646;
}

/*# sourceMappingURL=style.css.map */
