* {
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px;
}
.header a {
  cursor: pointer;
  text-decoration: none;
  color: #55595c;
  font-size: 18px;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
