* {
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.dropdown {
  position: relative;
  width: 240px;
  color: #55595c;
  height: 51px;
}
.dropdown:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 2px 2px 0 0;
  display: inline-block;
  height: 7px;
  right: 20px;
  top: 20px;
  transform: rotate(135deg);
  vertical-align: top;
  width: 0.45em;
  z-index: 2;
  transition: transform 0.3s ease;
}
.dropdown.active:before {
  transform: rotate(-45deg);
}

.dropdown input {
  position: relative;
  cursor: pointer;
  appearance: none;
  outline: none;
  border: 2px solid #55595c;
  border-radius: 3px;
  padding: 16px 12px;
  width: 100%;
  color: #55595c;
  user-select: none;
  font-size: 14px;
  z-index: 1;
}
.dropdown.active input {
  border-color: #55a646;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown input::selection {
  background-color: transparent;
}

.dropdown ul {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 2px solid #55a646;
  border-radius: 0 0 3px 3px;
  margin-top: -1px;
  opacity: 0;
  transform: scaleY(1) translateY(-30px);
  transition: transform 0.3s ease, opacity 0.3s ease;
  visibility: hidden;
  z-index: 0;
  background-color: #ffffff;
}
.dropdown.active ul {
  opacity: 1;
  transform: scaleY(1) translateY(0);
  visibility: visible;
}

.dropdown ul li {
  padding: 13px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
.dropdown ul li:hover {
  background-color: #ebebeb;
}

/*# sourceMappingURL=style.css.map */
