* {
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

:host {
  width: 100%;
}

.toast {
  position: relative;
  transition: all 0.3s ease;
  background-color: #ffffff;
  padding: 10px 10px;
  border-radius: 3px;
  border: 2px solid #55a646;
  min-width: 320px;
  margin: 10px;
  opacity: 0;
  visibility: hidden;
}
.toast.success {
  color: #55a646;
}
.toast.danger {
  color: #f26d62;
  border-color: #f26d62;
}
.toast.shown {
  visibility: visible;
  opacity: 1;
}
.toast.hide {
  transform: translateX(-200%);
  opacity: 0;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
}

/*# sourceMappingURL=style.css.map */
