* {
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.actions > * + * {
  margin-left: 16px;
}
.actions bui-button {
  width: 120px;
}
.actions bui-button.active {
  background-color: #55a646;
}
.actions bui-button.active :deep button {
  color: #ffffff;
}

.items {
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
