* {
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

:host {
  padding: 17px;
}

.image {
  border: 1px solid #55595c;
}

.cover {
  background: transparent none no-repeat center center/cover;
  width: 240px;
  height: 150px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  padding: 14px 10px;
}

.like {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
